aiohappyeyeballs==2.6.1 ; python_version >= "3.12"
aiohttp==3.13.2 ; python_version >= "3.12"
aiosignal==1.4.0 ; python_version >= "3.12"
attrs==25.4.0 ; python_version >= "3.12"
audioop-lts==0.2.2 ; python_version >= "3.13"
discord-py==2.6.4 ; python_version >= "3.12"
discord==2.3.2 ; python_version >= "3.12"
frozenlist==1.8.0 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
multidict==6.7.0 ; python_version >= "3.12"
propcache==0.4.1 ; python_version >= "3.12"
python-dotenv==1.2.1 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version == "3.12"
yarl==1.22.0 ; python_version >= "3.12"
